<footer class="footer">
    <div class="container">
     
        <!-- disclaimer -->
        <div class="col-md-12">
            <p class="disclaimer"><strong>डिस्क्लेमर:-</strong> इस वेबसाइट को देखना आपके जोखिम पर है। इस वेबसाइट पर
                लिखी सभी जानकारी केवल सूचना के उद्देश्य से है। 18 वर्ष से कम आयु के लोग इस वेबसाइट का उपयोग करने से सख्ती से प्रतिबंधित हैं। हम एक पंजीकृत
                फर्म हैं। हम जुआरी या मटका व्यवसाय से किसी भी प्रकार से नहीं जुड़े है। इस वेबसाइट पर पायी गई सभी
                प्रकार के चित्र या डाटा पूरी तरह से कंपनी की संपत्ति है और कोप्यवरिटेड है। बिना कंपनी के अनुमति के
                आप कोई भी चीज़ का इस्तेमाल नहीं कर सकते। पता लगने पर इसे दंडनीय क्रिया मानी जाएगी। यदि यह किसी द्वारा
                उपयोग किया जाता है, तो उनके खिलाफ सख्त कार्रवाई की जा सकती है</p>
        </div>
      
    </div>
</footer>