<div class="topNavMain">
    <div class="resNav">
       
       
            <div class="nav-title">
            
                    <h2>777</h2>
                    <h5>Satta Matka</h5>
                    <!-- <img rel="prefetch" data-src="#" width="150" height="60" loading="lazy" class="lazyload" alt="777 Satta matka" src="./../../favicon-logo.png"> -->
             
           
        </div>
      
        
            <!-- <div class="nav-links">
                <a href="https://www.sattanews.co/" target="_blank" rel="noreferrer" title="होम">होम</a>
                <a href="https://www.sattanews.co/web/about" target="_blank" rel="noreferrer" title="अबाउट">अबाउट</a>
                <a href="https://www.sattanews.co/blog/" target="_blank" rel="noreferrer" title="ब्लॉग ">ब्लॉग </a>
                <a href="https://www.sattanews.co/web/guessing-forum" target="_blank" rel="noreferrer" title="गेसिंग फोरम">गेसिंग फोरम</a>
                <a href="https://www.sattanews.co/web/contact/create" target="_blank" rel="noreferrer" title="कॉन्टैक्ट">कॉन्टैक्ट</a>
                <a href="https://www.sattanews.co/login" target="_blank" rel="noreferrer" title="लॉगइन">लॉगइन</a>
            </div> -->
            <!-- <div class="PlayWinDv topPlay webView">
                <span class="playBlink playWin">Play &amp; Win <i class="fa fa-hand-o-right"></i></span>
                <a class="capblink download-apk blinkon" rel="nofollow" href="https://www.sattanews.co/web/Superbook247.apk">Download App</a>
            </div>
            <div class="clrBoth"></div> -->
        </div>
    </div>
